{% extends "accounts/auth_base.html" %}

{% load crispy_forms_tags %}

{% block navbar-left %}
{% include "_navbar.html" with active_link="tours" %}
{% endblock %}
{% block navbar-right %}
{% if not user.is_authenticated %}
<a class="btn btn-default" href="{% url 'accounts:login' %}" role="button">Log in</a>
<a class="btn btn-primary" href="{% url 'accounts:signup' %}" role="button">Sign up</a>
{% else %}
{{ block.super }}
{% endif %}
{% endblock %}
{% block title %}{{ block.super }}Sign Up{% endblock %}


{% block form_heading %}Signing Up is Free{% endblock %}

{% block form %}
  {% crispy form %}

  <div class="form-message">
    <p>
      Already signed up? <a href="{% url 'accounts:login' %}">Log in</a>.
    </p>
  </div>
{% endblock form %}

